@import "tailwindcss";

@theme{
  --color-MintGreen: #D6FFF6;
  --color-RoseQuartz: #A499BE;
  --color-Turquoise: #4DCCBD;
  --color-Coyote: #7A542E;
  --color-SpaceCadet: #2A2E45;
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
